{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>World News | Global News Network</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    {% include 'includes/header.html' %} {% block content %}

    <!-- Main Content -->
    <main class="main-content">
        <h1>Latest News</h1>
    
    
    </main>
    {% endblock %} {% include 'includes/footer.html' %}

    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
